.js-card {
  margin: 10px;
}

.js-row {
  margin: 10px 10%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.book-show {
  text-align: center;
}

.review-book {
  margin: 25px;
  text-overflow: hidden;
}